{% load static %}
{% load i18n %}
{% load rest_framework %}

<!DOCTYPE html>
<html>
  <head>
    {% block head %}

      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      {% endblock %}

      <title>{% block title %}{% if name %}{{ name }} – {% endif %}RocketDashboard API{% endblock %}</title>

      {% block style %}
        {% block bootstrap_theme %}
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
        {% if code_style %}<style>{{ code_style }}</style>{% endif %}
      {% endblock %}

    {% endblock %}
  </head>

  {% block body %}
  <body class="{% block bodyclass %}{% endblock %}">

    <div class="wrapper">
      {% block navbar %}
        <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}"
             role="navigation" aria-label="{% trans "navbar" %}">
          <div class="container">
            <span>
              {% block branding %}
                <a class='navbar-brand' rel="nofollow" href="{% url 'telemetry_api:api-root' %}">
                    RocketDashboard API
                </a>
              {% endblock %}
            </span>
            <ul class="nav navbar-nav pull-right">
                <li><a href="{% url 'home' %}">Visit Site</a></li>
            </ul>
          </div>
        </div>
      {% endblock %}

      <div class="container">
        {% block breadcrumbs %}
          <ul class="breadcrumb">
            {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
              {% if forloop.last %}
                <li class="active"><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
              {% else %}
                <li><a href="{{ breadcrumb_url }}">{{ breadcrumb_name }}</a></li>
              {% endif %}
            {% empty %}
              {% block breadcrumbs_empty %}&nbsp;{% endblock breadcrumbs_empty %}
            {% endfor %}
          </ul>
        {% endblock %}

        <!-- Content -->
        <div id="content" role="main" aria-label="{% trans "content" %}">
          {% block content %}

            <div class="region"  aria-label="{% trans "request form" %}">
            {% block request_forms %}

              {% if 'GET' in allowed_methods %}
                <form id="get-form" class="pull-right">
                  <fieldset>
                    {% if api_settings.URL_FORMAT_OVERRIDE %}
                      <div class="btn-group format-selection">
                        <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="{% blocktrans %}Make a GET request on the {{ name }} resource{% endblocktrans %}">GET</a>

                        <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="{% blocktrans %}Specify a format for the GET request{% endblocktrans %}">
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          {% for format in available_formats %}
                            <li>
                              <a class="js-tooltip format-option" href="{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}" rel="nofollow" title="{% blocktrans %}Make a GET request on the {{ name }} resource with the format set to `{{ format }}`{% endblocktrans %}">{{ format }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    {% else %}
                      <a class="btn btn-primary js-tooltip" href="{{ request.get_full_path }}" rel="nofollow" title="{% blocktrans %}Make a GET request on the {{ name }} resource{% endblocktrans %}">GET</a>
                    {% endif %}
                  </fieldset>
                </form>
              {% endif %}

              {% if options_form %}
                <form class="button-form" action="{{ request.get_full_path }}" data-method="OPTIONS">
                  <button class="btn btn-primary js-tooltip" title="{% blocktrans %}Make an OPTIONS request on the {{ name }} resource{% endblocktrans %}">OPTIONS</button>
                </form>
              {% endif %}

              {% if delete_form %}
                <button class="btn btn-danger button-form js-tooltip" title="{% blocktrans %}Make a DELETE request on the {{ name }} resource{% endblocktrans %}" data-toggle="modal" data-target="#deleteModal">DELETE</button>

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{% blocktrans %}Are you sure you want to delete this {{ name }}?{% endblocktrans %}</h4>
                      </div>
                      <div class="modal-body">
                        <form class="button-form" action="{{ request.get_full_path }}" data-method="DELETE">
                          <button class="btn btn-danger">{% trans "Delete" %}</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}

              {% if extra_actions %}
                <div class="dropdown" style="float: right; margin-right: 10px">
                  <button class="btn btn-default" id="extra-actions-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {% trans "Extra Actions" %}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="extra-actions-menu">
                    {% for action_name, url in extra_actions %}
                      <li><a href="{{ url }}">{{ action_name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              {% if filter_form %}
                <button style="float: right; margin-right: 10px" data-toggle="modal" data-target="#filtersModal" class="btn btn-default">
                  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                  {% trans "Filters" %}
                </button>
              {% endif %}

            {% endblock request_forms %}
            </div>

            <div class="request-info" style="clear: both" aria-label="{% trans "request info" %}">
              <pre class="prettyprint"><b>{{ request.method }}</b> {{ full_url }}</pre>
            </div>

            <div class="response-info" aria-label="{% trans "response info" %}">
              <pre class="prettyprint"><div class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% for key, val in response_headers|items %}
<b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers }}</span>{% endfor %}</div>{{ content }}</pre>
            </div>
          {% endblock content %}
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    {% if filter_form %}
      {{ filter_form }}
    {% endif %}

    {% block script %}
      <script>
        window.drf = {
          csrfHeaderName: "{{ csrf_header_name|default:'X-CSRFToken' }}",
          csrfToken: {% if csrf_token %}"{{ csrf_token }}"{% else %}null{% endif %}
        };
      </script>
      <script src="{% static "rest_framework/js/jquery-3.5.1.min.js" %}"></script>
      <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
      <script src="{% static "rest_framework/js/csrf.js" %}"></script>
      <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
      <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
      <script src="{% static "rest_framework/js/default.js" %}"></script>
      <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
    {% endblock %}

  </body>
  {% endblock %}
</html>